<div class="col-10 offset-1">
  <%= render partial: 'fields', locals: { employees: @employees, heading: t('groups.update_group_heading'), submit: t('groups.update_group_button_label'), group: @group } %>
</div>