<div id= "statement_<%= params["question_id"] %>_option_divid_<%= params["option_div_id"] %>" class = "pt-3">
  <label> Comment box:</label>
  <%= text_field_tag "survey[questions_attributes][#{params["question_id"]}][options_attributes][#{params["option_id"]}][detail]" , nil , class: 'form-control' , readonly: true %> 
</div>