<div class="container">
  <h1>Question 1</h1>
  <canvas id="pieChart"></canvas>
  <h1>Question 2</h1>
  <canvas id="barChart"></canvas>
</div>
<script>
  let ctx = document.getElementById('pieChart').getContext('2d');
  let labels = ['A', 'B', 'C', 'D'];
  let colorHex = ['#FB3640', '#EFCA08', '#43AA8B', '#253D5B'];

  let myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      datasets: [{
        data: [30, 10, 40, 20],
        backgroundColor: colorHex
      }],
      labels: labels
    }
  })

  let ctx2 = document.getElementById('barChart').getContext('2d');

  let myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: ['Jan', 'Feb', 'Mar'],
      datasets: [{
        label: 'votes',
        data: [30, 50, 40],
        backgroundColor: <%= GRAPH_COLORS %>
      }],
    }
  })

</script>
