<!-- Master Head -->
<header class="master-head text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Build and manage the next level surveys for your company!</h1>
      </div>
    </div>
  </div>
</header>

<!-- Public Surveys -->
<section class="packages text-center bg-light">
  <div id = "public_stuff">
    <%= render 'public_surveys', locals: { surveys: @surveys, categories: @categories } %>
  </div>
</section>