  <!-- Packages -->
  <section class="packages text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Choose from one of our best packages</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0">
            <h5>Golden</h5>
            <p class="font-weight-light mb-0">This Package offers......</p>
            <dl>
              <dt>Maximum Members</dt>
              <dd>500</dd>
              <dt>Maximum Supervisors</dt>
              <dd>50</dd>
            </dl> 
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0">
            <h5>Silver</h5>
            <p class="font-weight-light mb-0">This Package offers......</p>
            <dl>
              <dt>Maximum Members</dt>
              <dd>200</dd>
              <dt>Maximum Supervisors</dt>
              <dd>20</dd>
            </dl> 
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0">
            <h5>Bronze</h5>
            <p class="font-weight-light mb-0">"This Package offers......</p>
            <dl>
              <dt>Maximum Members</dt>
              <dd>100</dd>
              <dt>Maximum Supervisors</dt>
              <dd>10</dd>
            </dl> 
          </div>
        </div>
      </div>
    </div>
  </section>