<!-- Packages -->
<section class="packages text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Choose from one of our best packages</h2>
    <div class="row">
      <% @packages.each do |package| %>
        <%= render 'layouts/package', package: package %>
      <% end %>
    </div>
  </div>
</section>
