<%#= render 'layouts/header' %>

<div class="row">
  <div class="col-5">
    <%= render 'layouts/sidebar' %>    
  </div>
  <!-- User Settings Graphs and History Enable and Disable-->
  <div class="col-7 p-3">
  <% if @user_setting.show_graphs? %>
    <div id="graphs">
      <h1>Graphs</h1>
    </div>
  <% end %>
  <% if @user_setting.show_history? %>
    <div id="histroy">
      <h1 >History</h1>
    </div>
  <% end %>
  </div>
</div>  

<%#= render 'layouts/footer' %>