<h1>Companies#dashboard</h1>
<p>Find me in app/views/companies/dashboard.html.erb</p>

<ul>
  <%= link_to "<li>Employees</li>".html_safe, members_path %>
  <%= link_to "<li>Groups</li>".html_safe, groups_path %>
</ul>
