<!-- Packages -->
<section class="packages text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Choose from one of our best packages</h2>
    <div class="row">
      <% @subscription_packages.each do |subscription_package| %>
        <%= render 'layouts/package', subscription_package: subscription_package %>
      <% end %>
    </div>
  </div>
</section>