<!-- Packages -->
<section class="packages text-center bg-light">
  <div class="container">
    <h3>Your current package is: <%= current_user.company.subscription_package.subscription_package_name %></h3>
    <h2 class="mb-5">Choose from one of our best packages</h2>
    <div class="row">
      <%= render :partial => "layouts/package", collection: @subscription_packages, as: :subscription_package %>
    </div>
  </div>
</section>