<div class="modal fade hide" id="created_by_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row no-gutters w-100">
          <div class="col-11 heading">
            <h3><%= t 'survey_filters.created_by_heading_label' %></h3>
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <div class="dismiss-icon">
              <a href="#_" data-dismiss="modal"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body row no-gutters">
        <label class="col-5"><%= t 'survey_filters.created_by_label' %></label>
        <%= collection_select :user, :user, employees, :id, :full_name, {}, { multiple: false, class: 'col-7 form-control', id: "created-by"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="tertiary-btn" data-dismiss="modal">Close</button>
        <%= link_to "Filter" , companies_filter_path, class: "primary-btn", id: "js-created-by-filter" %>
      </div>
    </div>
  </div>
</div>
