<div class="modal fade hide" id="expired_before_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row no-gutters w-100">
          <div class="col-11 heading">
            <h3>Surveys Expired Before</h3>
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <div class="dismiss-icon">
              <a href="#_" data-dismiss="modal"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body row no-gutters">
        <label class="col-5"> Select expiry date: </label>
        <input type="date" class="col-7 form-control" id="expired-before"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="tertiary-btn" data-dismiss="modal">Close</button>
        <%= link_to "Filter", {controller: "companies", action: "filter"}, class: "primary-btn", id: "js-expired-before-filter" %>
      </div>
    </div>
  </div>
</div>