<div class="modal fade hide" id="survey_type_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row no-gutters w-100">
          <div class="col-11 heading">
            <h3>Survey Type</h3>
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <div class="dismiss-icon">
              <a href="#_" data-dismiss="modal"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body row no-gutters">
        <label class="col-5"> Select survey type:</label>
        <select class="col-7 form-control" id="survey-type-filter">
          <option value="Public">Public</option>
          <option value="Private">Private</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="tertiary-btn" data-dismiss="modal">Close</button>
        <%= link_to "Filter", {controller: "companies", action: "filter"}, class: "primary-btn", id: "js-survey-type-filter" %>
      </div>
    </div>
  </div>
</div>