<div class="container">
  <h2>New Survey</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Create Survey</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>Your new survey</h3>
      <div class = "text-left survey-box container mt-4 shadow p-3 mb-5 bg-white rounded">
        <%= render 'form', locals: {submit: 'Create'} %>
      </div>
    </div>
  </div>
</div>