.row {
  display: flex;
  margin-top: 40px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 100%; 
}

.header {
	margin-top: 50px;
	margin-left: 250px;
}

input {
  display: inline-block;
  float: right;
}

.input-label-container {
	margin-left: 100px;
}

.img-fullsize{
	height: 100%;
  width: 100%;
	background-size: cover;
}


.login-input{
  display: inline-block;
  margin-left: 300px;
}

.login-margin-top {
  margin-top: 20px;
}

.boxed {
  border: 3px solid blue;
  padding: 60px;
  margin-left: 430px;
  margin-top: 60px;
}

.login-input-label-container {
  margin-left: 5px;
}

.login-header {
  margin-top: 10px;
  margin-left: 100px;
}
