.nav-item{
  font-size: 1rem;
}
.dashboard_text{
  padding-left: 0.5rem;
  display: inline
}
.name{
  display: inline;
  margin-right: 1rem; 
}
.settings-name{
  display: inline;
  margin-right: 1rem; 
}
footer{
  position: absolute;
  bottom: 0;
}