#dash{
  background: #66CDAA;
}
.nav-item{
  font-size: 15px;
}
.dashboard_text{
  padding-left: 3px;
  display: inline
}
.name{
  display: inline;
  margin-right: 13px; 
}
.settings-name{
  display: inline;
  margin-right: 13px; 
}
footer{
  position: absolute;
  bottom: 0;
}