$primary-color-dark: #005174;
$primary-color: #278e82;
$primary-color-light: #b4dba9;
$base-color: #ece9d4;
$accent-color: #2c306a;

.nav-link{
  font-size: 1rem;
  color: white;
  &:hover{
    color: $primary-color-dark;
  }
}

.dashboard_text{
  padding-left: 0.5rem;
  display: inline
}

.name{
  display: inline;
  margin-right: 1rem; 
}

.settings-name{
  display: inline;
  margin-right: 1rem; 
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.master-head {
  position: relative;  
  background: url("bg-masterhead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.master-head h1 {
  font-size: 2rem;
}

.packages {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $primary-color;
  color: white;
  a {
  color: $primary-color-light;
  }
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5); 
}

.table-custom-scrollbar {
position: relative;
height: 22rem;
overflow: auto;
}

.custom-navbar {
  background-color: $primary-color;
}

.custom-btn-dark {
  background-color: $primary-color-dark;
  color: white;
  border: white;
  &:hover{
    background-color: $accent-color;
    color: white;
  }
}