<% if flash.present? %>
  <div class="flash-messages-wrapper">
    <% flash.each do |type, messages| %>
      <% messages = messages.is_a?(Array) ? messages : [messages] %>
      <div class="<%= flash_type(type) %>">
        <ul>
          <button type="button" class="close" data-dismiss="alert"> &times; </button>
          <% messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>