<footer class="footer">
  <div class="w-100 d-flex justify-content-center">
    <%= link_to t('footer.home_label'), '/' %>
    <%= link_to t('footer.about_label'), '#_' %>
    <%= link_to t('footer.packages_label'), '#_' %>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <p class="small mb-4 mb-lg-0">&copy; <%= t 'footer.license_description' %></p>
  </div>
</footer>