<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#_">Survey System</a>
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-primary" href="#_">Register</a>
      <a class="nav-link" href="#_">Sign in</a>
    </div>
  </div>
</nav>