<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Surveys System</a>
    <div>
      You are logged in as
      <%= current_user.role %>
    </div>
    <div class="d-flex flex-row-reverse">
    	<div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <%= current_user.first_name.upcase %>
        </button>
        <div class="dropdown-menu">
          <% if can? :edit, @user_settings %>
            <%= link_to "My Settings", edit_user_setting_path(current_user) %>
          <% end %>
          <br><%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </div>
      </div>
    </div>
  </div>
</nav>