<!-- Subscription Package -->
<div class="col-lg-4">
  <div class="mx-auto mb-5 mb-lg-0">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"> <%= subscription_package[:subscription_package_name] %> </h5>
        <p class="card-text">With this package you will get limit:</p>
        <dl>
          <dt>Max Members Limit</dt>
          <dd> <%= subscription_package[:max_supervisors] %> </dd>
          <dt>Max Supervisors Limit</dt>
          <dd> <%= subscription_package[:max_members] %> </dd>
        </dl> 
        <%= link_to "Subscribe", update_subscription_package_company_path(subscription_package[:id]) %>
      </div>
    </div>
  </div>
</div>