<div class="container-fluid">
  <div class="row p-3">
    <nav class="d-none d-md-block bg-light sidebar col-12">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <% get_sidebar_menu = sidebar_menu %>
          <% get_sidebar_menu.each do |content,value| %>
            <li class="nav-item">
              <span data-feather= <%= value[:icon] %> ></span>
              <%= link_to content, value[:url] %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace();
</script>