<div class="sidebar-style bg-dark float-left h-100 col-3 col-md-2">
  <div class="py-2 flex-grow-1">
    <div class="nav flex-sm-column">
        <% get_sidebar_menu = sidebar_menu %>
        <% get_sidebar_menu.each do |content,value| %>
            <div class="row">
              <div class="col-1">
                <span class="fa fa-<%= value[:icon] %> mt-2 icon"></span>
              </div>
              <div class="col-3">
                <%= link_to content, value[:url], class: "nav-link" %>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>