<div class="col-10 p-3">
  <%= render partial: 'form', locals: { submit: t('users.update_button_label'), member: @member, url: member_path(@member), method: :patch, heading: t('users.edit_member_heading') } %>
</div>
