<div class="col-10 p-3">
  <%= render partial: 'form', locals: { submit: t('update_submit_label'), member: @member, url: member_path(@member), method: :patch, heading: t('edit_member_heading') } %>
</div>