<div class="col-10 p-3">
  <h2>Edit Member</h2>

  <%= form_for @member, url: member_path(@member), method: :patch do |f| %>
    <%= render 'form', f: f, locals: {submit: 'Update', member: @member} %>
  <% end %>
</div>