<div class="col-10 p-3">
  <h3> Members </h3>

  <% if can? :create, User %>
    <td><%= link_to "Create new User", new_member_path %></td>
  <% end %>

  <table>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>
        <% if can? :update, member %>
          <% unless cannot? :edit, member %>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
          <% end %>
          <% if can? :destroy, member %>
            <td><%= link_to 'Delete', member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
