<h1> Members </h1>

<% if can? :manage, User %>
  <td><%= link_to "Add new", new_member_path %></td>
<% end %>

<table>
  <% @members.each do |member| %>
    <tr>
      <td><%= "#{member.first_name} #{member.last_name}" %></td>
      <% if can? :manage, member %>
        <% unless cannot? :edit, member %>
          <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <% end %>
        <% unless cannot? :destroy, member %>
          <td><%= link_to 'Delete', member_path(member), method: :delete, data: { confirm: 'You sure?' } %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
  
